<div
  class="w-screen h-screen bg-blue-100 flex items-center justify-center prose max-w-none"
>
  <div class="w-5/12 bg-white p-10 rounded-xl">
    <h2 class="mt-0">Page de Connexion</h2>

    <form
      ngForm
      #teacherForm
      (submit)="onSubmit($event); teacherForm.reset()"
      class="form"
    >
      <mat-form-field>
        <input
          matInput
          placeholder="Nom"
          required
          [(ngModel)]="nameTeacher"
          name="nom"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Mot de passe"
          type="password"
          required
          [(ngModel)]="mdpTeacher"
          name="mdp"
        />
      </mat-form-field>
      <p class="m-0 mb-5 text-xs text-pretty">
        <span class="font-extrabold">NB : </span> Default user is admin , for
        non admin , use these <br />
        <span class="font-medium">username : brownleopard474</span> <br />
        <span class="font-medium">password : scotland</span>
      </p>
      <button
        mat-stroked-button
        color="primary"
        [disabled]="nameTeacher == '' || mdpTeacher == ''"
        style="padding: 10px"
      >
        Connexion
      </button>
      <div style="color: red">{{ errorMessage }}</div>
    </form>
  </div>
</div>
