<div class="w-full h-full relative">
  <div
    *ngIf="isLoading"
    class="h-full w-full flex justify-center items-center z-50 absolute top-0 left-0"
  >
    <div class="loader"></div>
  </div>
  <h1 class="m-0">{{ titre }}</h1>
  <!-- <p>
    Nb documents : {{ totalDocs }}, nbPages : {{ totalPages }}
    <br />
    Page courante : {{ page }}, nb de docs par page : {{ limit }}
    <mat-slider min="1" max="100" step="1" thumbLabel>
      <input
        matSliderThumb
        [(ngModel)]="limit"
        (change)="getAssignmentsFromService()"
      />
    </mat-slider>
  </p> -->

  <!-- <h2>Version avec scrolling infini</h2>
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" #scroller>
    <mat-list *cdkVirtualFor="let a of assignments" class="example-item">
      <a routerLink="/assignments/{{ a._id }}">
        <h3 mat-subheader>
          Date limite: {{ a.dateDeRendu | date : "dd/MM/yy" }}
        </h3>
        <mat-list-item>
          <p>{{ a.nom }} id = {{ a._id }}, rendu : {{ a.rendu }}</p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </a>
    </mat-list>
  </cdk-virtual-scroll-viewport> -->

  <!-- <div class="">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!hasPrevPage"
      [disabled]="!hasPrevPage"
      (click)="premierePage()"
    >
      Première
    </button>
    &nbsp;&nbsp;&nbsp;
    <button
      mat-raised-button
      color="primary"
      [disabled]="!hasPrevPage"
      (click)="pagePrecedente()"
    >
      Précédent
    </button>
    &nbsp;&nbsp;&nbsp;
    <button
      mat-raised-button
      color="primary"
      [disabled]="!hasNextPage"
      (click)="pageSuivante()"
    >
      Suivante
    </button>
    &nbsp;&nbsp;&nbsp;
    <button
      mat-raised-button
      color="primary"
      [disabled]="!hasNextPage"
      (click)="dernierePage()"
    >
      Dernière
    </button>
  </div> -->

  <mat-paginator
    #paginator
    class="mt-5 bg-transparent rounded-lg border border-neutral-100"
    (page)="handlePageEvent($event)"
    [length]="totalPages"
    [pageSize]="limit"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[5, 10, 25]"
    [pageIndex]="page"
    aria-label="Select page"
  >
  </mat-paginator>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 mt-10 mb-10">
    <div
      *ngFor="let assignment of assignments"
      class="border border-neutral-100 bg-white hover:bg-blue-500 hover:text-white cursor-pointer transition-all duration-100 shadow flex gap-10 p-5 rounded-xl max-w-full"
      (click)="handleAssignmentCardClick(assignment._id!)"
    >
      <div class="flex w-fit">
        <div class="flex items-center">
          <img
            src="{{ assignment.student.profile }}"
            class="w-16 h-auto rounded-full m-0"
            alt=""
          />
        </div>
        <div class="flex flex-col gap-4">
          <img
            src="{{ assignment.teacher.picture }}"
            class="w-16 h-auto rounded-full m-0"
            alt=""
          />
          <img
            src="{{ assignment.subject.picture }}"
            class="w-16 h-auto rounded-full m-0"
            alt=""
          />
        </div>
      </div>
      <div class="flex-grow">
        <p class="m-0 line-clamp-1">
          <span class="font-bold">Name </span> :
          {{ assignment.name }}
        </p>
        <p class="m-0 mt-5">
          <span class="font-bold">Teacher</span> :
          {{ assignment.teacher.fullName }}
        </p>
        <p class="m-0">
          <span class="font-bold">Student</span> :
          {{ assignment.student.name }}
        </p>
        <p class="m-0">
          <span class="font-bold">Subject</span> :
          {{ assignment.subject.name }}
        </p>
        <p class="m-0">
          <span class="font-bold"> Submission date</span> :
          {{ assignment.dateRendu.toString() | date }}
        </p>
      </div>
    </div>
  </div>

  <!-- <table
    mat-table
    [dataSource]="assignments"
    class="mat-elevation-z8 demo-table"
  >
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let a">{{ a.name }}</td>
    </ng-container>

    <ng-container matColumnDef="dateDeRendu">
      <th mat-header-cell *matHeaderCellDef>Date de rendu</th>
      <td mat-cell *matCellDef="let a">{{ a.dateRendu | date }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table> -->
</div>
